
<div id="admin_page_for_students_after_search"  >
    <label class="main"><input id="table_cell_back" class="main" type="checkbox">go back<span class="geekmark"></span></label>
    <li id="li_1">
        <div align="right" id="serch_Bar_for_Second_div" >
            <input type="search" id="element_1" name="" placeholder="search for a student" class="element text medium">
            <button >Search</button>
        </div>
    </li>

    <div id="twodives">

        <div id="personal_information">
            <li id="li_1">
                <fieldset id="field_set">
                    <legend>Personal Information</legend>
                    <label>Name :{{student_name}}</label>
                    <label>Surname : {{surname}}</label>
                    <label>Student Number :{{student_number}}</label>
                    <label>Phone Number : {{student_contact}}</label>
                    <label>Guardian  Number : {{parents_contact}}</label>
                </fieldset>

            </li>


        </div>

        <div id="Score_summary">
            <li id="li_1">
                <fieldset id="field_set">
                    <legend>Personal Information</legend>
                    <label>Total Lectures : 100</label>
                    <label>Days Absent : 30</label>
                    <label>Days Presens : 70</label>
                </fieldset>

            </li>
        </div>
    </div>

    <!-- modules table -->
    <table id="myTable">
        <tr class="header">
            <th style="width:auto;">detailed score</th>
            <th style="width:auto;">module 1</th>
            <th style="width:auto;">module 2</th>
            <th style="width:auto;">module 3</th>
            <th style="width:auto;">module 4</th>
            <th style="width:auto;">module 5</th>
            <th style="width:auto;">module 6</th>
        </tr>
        <tr >

            <td>Number of Lectures</td>
            <!--  -->
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <td> Days Absent for lecture</td>
        <!--  -->
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        </tr>
        <tr >

            <td>Attended</td>
            <!--  -->
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <h2>two</h2>
    </table>
</div>
<script type="text/javascript" src="jquery-1.3.2.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/students_table_style.css" media="all">
<link href="css/checkbox_to_another_div.css" rel="stylesheet" type="text/css" media="all">
<link href="css/formAdmin.css" rel="stylesheet" type="text/css" media="all">